.card {
  background: white;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  background: white;
  .company-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -25px;
  }

  .full-job-details {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 4rem;
    .first-part {
      display: flex;
      gap: 1.5rem;
      font-size: 1.6rem;
      color: #a1a6b6;
      text-transform: capitalize;
      align-items: center;
      .circle {
        background: #a1a6b6;
        height: 8px;
        width: 8px;
        border-radius: 50%;
      }
    }
    .job-name {
      font-size: 2rem;
      color: black;
      font-weight: bold;
      text-transform: capitalize;
    }
    .company-name {
      font-size: 1.6rem;
      color: #a1a6b6;
      text-transform: capitalize;
    }
  }
  .job-location {
    font-size: 1.3rem;
    color: #5964e0;
    font-weight: bold;
    text-transform: capitalize;
  }
}


@media (max-width: 1080px) {
  .card {
    padding-block: 3rem;
    padding-inline: 2rem;
    .full-job-details {
      .job-name {
        font-size: 1.8rem;

      }
    }
  }
}

